.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.top-buffer {
	margin-top: 40px;
}

.uploaded-image {
	margin-top: 57px;
	border-left: 1px solid gray;
}

.uploaded-text {
	vertical-align: top;
    font-size: 21px;
    font-weight: 200;
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 30px;
}
